﻿@using Microsoft.AspNetCore.Identity
@using PropertyNinja.Areas.Identity.Data
@inject SignInManager<PropertyNinjaUser> SignInManager
@inject UserManager<PropertyNinjaUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}﻿
@model PropertyNinja.Models.Property

@{
    ViewData["Title"] = "Create";
}

<div class="container my-4">
    <p class="views-breadcrumb"><a asp-action="Index" asp-controller="Properties" style="color: #607d8b;">Properties</a> / Create</p>
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyType" class="mdl-textfield__input" />
                        <label asp-for="PropertyType" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyType" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyName" class="mdl-textfield__input" />
                        <label asp-for="PropertyName" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyName" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyAddress" class="mdl-textfield__input" />
                        <label asp-for="PropertyAddress" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyAddress" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyBedroom" class="mdl-textfield__input" />
                        <label asp-for="PropertyBedroom" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyBedroom" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyBathroom" class="mdl-textfield__input" />
                        <label asp-for="PropertyBathroom" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyBathroom" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyFurnishing" class="mdl-textfield__input" />
                        <label asp-for="PropertyFurnishing" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyFurnishing" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyDescription" class="mdl-textfield__input" />
                        <label asp-for="PropertyDescription" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyDescription" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyLandSize" class="mdl-textfield__input" />
                        <label asp-for="PropertyLandSize" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyLandSize" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertySeller" class="mdl-textfield__input" value="@user.Name"/>
                        <label asp-for="PropertySeller" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertySeller" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <input asp-for="PropertyPrice" class="mdl-textfield__input" />
                        <label asp-for="PropertyPrice" class="mdl-textfield__label"></label>
                        <span asp-validation-for="PropertyPrice" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                        <label for="file">Upload Image:</label>
                        <input type="file" name="files" id="files" multiple required />
                        @if (ViewBag.fileError == true)
                        {
                            <div class="alert alert-danger" role="alert">
                                File can only be of type .jpg, .jpeg and .png
                            </div>
                        }
                    </div>
                    <div class="form-group mr-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link rel="stylesheet" href="~/css/createProperties.css" />
}
