﻿@model PropertyNinja.Models.Property

@{
    ViewData["Title"] = "Delete";
}


<div class="container my-4">
    <p class="views-breadcrumb"><a asp-action="Index" asp-controller="Properties" style="color: #607d8b;">Properties</a> / Delete</p>
    <h3>Are you sure you want to delete this?</h3>
    <div class="row d-flex justify-content-start">
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyBedroom)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyBedroom)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyBathroom)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyBathroom)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyFurnishing)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyFurnishing)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyLandSize)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyLandSize)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertySeller)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertySeller)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PropertyPostedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyPostedDate)
            </dd>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </dl>
    </div>  
</div>