﻿@model PropertyNinja.Models.Property

@{
    ViewData["Title"] = "Edit";
}

<div class="container my-4">
    <p class="views-breadcrumb"><a asp-action="Index" asp-controller="Properties" style="color: #607d8b;">Properties</a> / Edit</p>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertyType" class="mdl-textfield__input" />
                    <label asp-for="PropertyType" class="mdl-textfield__label">Property Type</label>
                    <span asp-validation-for="PropertyType" class="text-danger"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertyName" class="mdl-textfield__input" />
                    <label asp-for="PropertyName" class="mdl-textfield__label"></label>
                    <span asp-validation-for="PropertyName" class="text-danger"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertyAddress" class="mdl-textfield__input" />
                    <label asp-for="PropertyAddress" class="mdl-textfield__label"></label>
                    <span asp-validation-for="PropertyAddress" class="text-danger"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertyBedroom" class="mdl-textfield__input" />
                    <label asp-for="PropertyBedroom" class="mdl-textfield__label"></label>
                    <span asp-validation-for="PropertyBedroom" class="text-danger"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertyBathroom" class="mdl-textfield__input" />
                    <label asp-for="PropertyBedroom" class="mdl-textfield__label"></label>
                    <span asp-validation-for="PropertyBathroom" class="text-danger"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertyFurnishing" class="mdl-textfield__input" />
                    <label asp-for="PropertyFurnishing" class="mdl-textfield__label"></label>
                    <span asp-validation-for="PropertyFurnishing" class="text-danger"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertyDescription" class="mdl-textfield__input" />
                    <label asp-for="PropertyDescription" class="mdl-textfield__label"></label>
                    <span asp-validation-for="PropertyDescription" class="text-danger"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertyLandSize" class="mdl-textfield__input" />
                    <label asp-for="PropertyDescription" class="mdl-textfield__label"></label>
                    <span asp-validation-for="PropertyLandSize" class="text-danger"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-12 col-md-6">
                    <input asp-for="PropertySeller" class="mdl-textfield__input" />
                    <label asp-for="PropertySeller" class="mdl-textfield__label"></label>
                    <span asp-validation-for="PropertySeller" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
