﻿@model IEnumerable<PropertyNinja.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<div class="container my-4">
    <p class="views-breadcrumb">Index</p>
    <div class="row">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div class="table-wrapper" tabindex="0">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyType)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyName)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyAddress)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyBedroom)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyBathroom)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyFurnishing)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyDescription)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyLandSize)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertySeller)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayNameFor(model => model.PropertyPostedDate)
                        </th>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyType)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyName)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyAddress)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyBedroom)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyBathroom)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyFurnishing)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyDescription)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyLandSize)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertySeller)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.PropertyPostedDate)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
