﻿@model IEnumerable<PropertyNinja.Models.Property>

@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-search">
    <div class="search-box container">
        <div class="row">
            <div class="col-12">
                <h1>Search For Properties: </h1>
            </div>
        </div>
        <div class="search-row row">
            <div class="col-12">
                <form action="" method="post">
                    <div class="row">
                        <div class="search-input col-12 col-md-10 input-group input-group-lg">
                            <input type="text" name="searchString" class="form-control" placeholder="Search by property name, type or location">
                        </div>
                        <div class="search-button col-2">
                            <button type="submit" asp-controller="BuyerListing" asp-action="Index" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="featured-properties py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="featured-title">Latest Properties</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-md-4 mb-3">
                            <div class="featured-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand" style="background: url(@(String.Format("https://propertyninjablobstorage.blob.core.windows.net/" + "{0}/{1}", @item.PropertyName.ToLower().Replace(",", "").Replace(" ", "-"), @item.PropertyThumbnail))) no-repeat; background-size: cover;">
                                    <h2 class="mdl-card__title-text">@Html.DisplayFor(modelItem => item.PropertyName)</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p class="propertyPrice"><b>RM @string.Format("{0:#,0}", item.PropertyPrice)</b></p>
                                    @Html.DisplayFor(modelItem => item.PropertyType) | <i class="fas fa-bed"></i> @Html.DisplayFor(modelItem => item.PropertyBedroom) &nbsp; <i class="fas fa-bath"></i> @Html.DisplayFor(modelItem => item.PropertyBathroom)
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a asp-controller="BuyerListing" asp-action="PropertyDetails" asp-route-id="@item.ID" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css" />
}
