﻿@using Microsoft.AspNetCore.Identity
@using PropertyNinja.Areas.Identity.Data
@inject SignInManager<PropertyNinjaUser> SignInManager
@inject UserManager<PropertyNinjaUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PropertyNinja</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/d2d336674d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">PropertyNinja</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    @if (SignInManager.IsSignedIn(User) && user.Role == "seller")
                    {
                        <a class="mdl-navigation__link" asp-area="" asp-controller="Properties" asp-action="Index">Manage Properties</a>
                        <a class="mdl-navigation__link" asp-area="" asp-controller="Enquiry" asp-action="GetEnquiries" asp-route-sellerName="@user.Name">Manage Enquiries</a>
                    }
                    else
                    {
                        <a class="mdl-navigation__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="mdl-navigation__link" asp-area="" asp-controller="BuyerListing" asp-action="Index">Properties</a>
                    }
                    <partial name="_LoginPartial" />
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                @if (SignInManager.IsSignedIn(User) && user.Role == "seller")
                {
                    <a class="mdl-navigation__link" asp-area="" asp-controller="BuyerListing" asp-action="Index">Manage Properties</a>
                    <a class="mdl-navigation__link" asp-area="" asp-controller="Enquiry" asp-action="GetEnquiries" asp-route-sellerName="@user.Name">Manage Enquiries</a>
                }
                else
                {
                    <a class="mdl-navigation__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="mdl-navigation__link" asp-area="" asp-controller="BuyerListing" asp-action="Index">Properties</a>
                }
                <partial name="_LoginPartial" />
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                @RenderBody()
            </div>
            <div class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">PropertNinja</div>
                    <ul class="mdl-mini-footer__link-list">
                        @if (SignInManager.IsSignedIn(User) && user.Role == "seller")
                        {
                            <a class="mdl-navigation__link" asp-area="" asp-controller="BuyerListing" asp-action="Index">Manage Properties</a>
                            <a class="mdl-navigation__link" asp-area="" asp-controller="Enquiry" asp-action="GetEnquiries" asp-route-sellerName="@user.Name">Manage Enquiries</a>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="BuyerListing" asp-action="Index">Properties</a></li>
                        }
                    </ul>
                </div>
            </div>
        </main>
    </div>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>
