﻿@using Microsoft.AspNetCore.Identity
@using PropertyNinja.Areas.Identity.Data

@inject SignInManager<PropertyNinjaUser> SignInManager
@inject UserManager<PropertyNinjaUser> UserManager

@{ 
    var user = await UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-link text-white">Logout</button>
    </form>
}
else
{
    <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
