﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row  d-flex justify-content-center">
        <div class="">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" pattern="[0-9]{12}" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Role" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                        <input id="option-1" asp-for="Input.Role" type="radio" class="mdl-radio__button" value="buyer" checked />
                        <span class="mdl-radio__label">Buyer</span>
                    </label>
                    <label asp-for="Input.Role" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                        <input id="option-2" asp-for="Input.Role" type="radio" class="mdl-radio__button" value="seller" />
                        <span class="mdl-radio__label">Seller</span>
                    </label>
                </div>
                <div class="form-group">
                        <label for="file">Upload Image:</label>
                        <input type="file" name="files" id="files" multiple required />
                        @if (TempData["fileError"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                File can only be of type .jpg, .jpeg and .png
                            </div>
                        }
                    </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
