﻿@model IEnumerable<PropertyNinja.Models.EnquiryEntity>

@{
    ViewData["Title"] = "GetEnquiries";
}

<div class="container my-4">
    <p class="views-breadcrumb">Enquiries</p>
    <div class="row">
        <div class="d-flex justify-content-center col-12">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Sent Date</th>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                        <th class="mdl-data-table__cell--non-numeric">@Html.DisplayNameFor(model => model.Email)</th>
                        <th class="mdl-data-table__cell--non-numeric">@Html.DisplayNameFor(model => model.Message)</th>
                        <th class="mdl-data-table__cell--non-numeric">@Html.DisplayNameFor(model => model.PropertyName)</th>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @{
                                DateTime dt = new DateTime(Convert.ToInt64(item.RowKey));
                            }
                            <td class="mdl-data-table__cell--non-numeric">@dt.ToString()</td>
                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.BuyerName)</td>
                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Message)</td>
                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.PropertyName)</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a style="color: blue; cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter">Details</a> |
                                <a style="color: blue; cursor: pointer;" data-toggle="modal" data-target="#exampleModal2">Delete</a>
                            </td>
                        </tr>

                        <!-- Details Modal -->
                        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Enquiry Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <p><b>Name:</b> @Html.DisplayFor(modelItem => item.BuyerName)</p>
                                                            <p><b>Phone Number:</b> @Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                                                            <p><b>Email:</b> @Html.DisplayFor(modelItem => item.Email)</p>
                                                            <p><b>Property Name:</b> @Html.DisplayFor(modelItem => item.PropertyName)</p>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <p><b>Message:</b> @Html.DisplayFor(modelItem => item.Message)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Delete Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this enquiry?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger" asp-action="DeleteEntity" asp-route-PartitionKey="@item.PartitionKey" asp-route-RowKey="@item.RowKey">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





