﻿.featured-title {
    font-size: 16px;
    font-weight: bold;
}

.featured-card-square.mdl-card {
    width: 100%;
    height: 320px;
}

.featured-card-square > .mdl-card__title {
    color: #fff;
}

.propertyPrice {
    font-size: 18px !important;
}
