﻿.homepage-search {
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../bg3.jpg') bottom no-repeat;
    background-size: cover;
    color: white;
}

.search-box {
    width: 100%;
    height: auto;
}

.search-row {
    padding: 15px 0px;
    font-size: 16px !important;
}

.search-button > button {
    font-size: 16px !important;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.featured-title {
    font-size: 16px;
    font-weight: bold;
}

.featured-card-square.mdl-card {
    width: 100%;
    height: 320px;
}

.featured-card-square > .mdl-card__title {
    color: #fff;
}

.propertyPrice {
    font-size: 18px !important;
}

@media (max-width: 767px) {
    .search-button > button {
        font-size: 16px !important;
        position: relative;
        margin-top: 30px;
    }
}
