﻿﻿.property-description {
    background: white;
    padding: 10px 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
}

.extra-details {
    background: white;
    padding: 10px 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
}

.property-images {
    width: 100%;
    max-height: 460px;
}

.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 24px !important;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.price-title {
    font-size: 24px;
    margin-bottom: 8px;
}

.row-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.extra-details-title {
    font-weight: 500;
}

.property-name {
    font-size: 18px;
    margin-bottom: 8px;
}

.property-land-size {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.enquiry-card {
    background: white;
    padding: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
}

.seller-details {
    display: flex;
    margin-bottom: 16px;
}

.seller-image {
    width: 62px;
    max-width: 62px;
    min-width: 62px;
    height: 62px;
    display: block;
    margin-right: 8px;
}

.seller-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.seller-name {
    display: grid;
    place-items: center;
    font-weight: 500;
}

.enquiry-button {
    display: grid;
}

.modal-backdrop {
    z-index: 0 !important;
}

.message-textarea {
    height: 130px !important;
    resize: none;
}