﻿.seller-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.seller-info {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.seller-info > p {
    font-size: 16px;
}

.seller-info-section {
    padding: 25px 0px;
    margin-bottom: 30px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.featured-card-square.mdl-card {
    width: 100%;
    height: 320px;
}

.featured-card-square > .mdl-card__title {
    color: #fff;
}

.propertyPrice {
    font-size: 18px !important;
}