﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IPagedList<PropertyNinja.Models.Property>

@{ ViewData["Title"] = "Properties"; }

<div class="container my-4">
    <p class="views-breadcrumb">Properties</p>
    <div class="filter-component row">
        <div class="col-12 mb-2">
            <h3>Properties Available (@ViewBag.Count)</h3>
        </div>
        <div class="col-12">
            <form action="" method="post">
                <div class="row">
                    <div class="col-12 col-md-8 mb-3 mb-md-0">@Html.TextBox("searchString", null, new { @class = "w-100 h-100" }) </div>
                    <div class="col-8 col-md-3">
                        Sort By:   @Html.DropDownList("sortBy", new List<SelectListItem>
                         {
                         new SelectListItem{ Text="Price: Low to High", Value = "priceLow" },
                         new SelectListItem{ Text="Price: High to Low", Value = "priceHigh" },
                         new SelectListItem{ Text="Land Size: Low to High", Value = "landLow" },
                         new SelectListItem{ Text="Land Size: High to Low", Value = "landHigh" },
                         new SelectListItem{ Text="Bedrooms: Low to High", Value = "bedroomLow" },
                         new SelectListItem{ Text="Bedrooms: High to Low", Value = "bedroomHigh" }
                         }, new { @class = "h-100" })
                    </div>
                    <div class="col-4 col-md-1">
                        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" name="searchButton" value="Search" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="listing row mt-4">
        <div class="col-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-4 mb-3">
                        <div class="featured-card-square mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand" style="background: url(@(String.Format("https://propertyninjablobstorage.blob.core.windows.net/" + "{0}/{1}", @item.PropertyName.ToLower().Replace(",", "").Replace(" ", "-"), @item.PropertyThumbnail))) no-repeat; background-size: cover;">
                                <h2 class="mdl-card__title-text">@Html.DisplayFor(modelItem => item.PropertyName)</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p class="propertyPrice"><b>RM @string.Format("{0:#,0}", item.PropertyPrice)</b></p>
                                @Html.DisplayFor(modelItem => item.PropertyType) | <i class="fas fa-bed"></i> @Html.DisplayFor(modelItem => item.PropertyBedroom) &nbsp; <i class="fas fa-bath"></i> @Html.DisplayFor(modelItem => item.PropertyBathroom)
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a asp-controller="BuyerListing" asp-action="PropertyDetails" asp-route-id="@item.ID" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                     {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
            })
        </div>
    </div>
    @if (TempData["enquiryMsg"] != null)
    {
        <div class="toast" style="position: absolute; top: 1rem; right: 1rem;" data-delay="5000">
            <div class="toast-header">
                <strong class="mr-auto">PropertyNinja</strong>
                <small>Few seconds ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                @TempData["enquiryMsg"]
            </div>
        </div>
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/buyerListingIndex.css" />
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.toast').toast('show')
        });
    </script>

}