﻿@using Microsoft.AspNetCore.Identity
@using PropertyNinja.Areas.Identity.Data
@inject SignInManager<PropertyNinjaUser> SignInManager
@inject UserManager<PropertyNinjaUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}﻿
@model PropertyNinja.Models.Property

@{
    ViewData["Title"] = "PropertyDetails";
}

<div class="container my-4">
    <p class="views-breadcrumb"><a asp-action="Index" asp-controller="BuyerListing" style="color: #607d8b;">Properties</a> / @Model.PropertyName</p>
    <div class="images-section row">
        <div class="col-12 property-images">
            @foreach (var item in ViewBag.images)
            {
                string[] link = item.Split("#");
                <img src="@link[1]" alt="@link[0]" width="100%" height="460px" />
            }
        </div>
    </div>
    <div class="details-section row mt-3">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-8 order-12 order-md-1">
                    <div class="property-summary row mb-4">
                        <div class="col-12 price-title"><b>RM @string.Format("{0:#,0}", Model.PropertyPrice)</b></div>
                        <div class="col-12 property-name">@Html.DisplayFor(model => model.PropertyName)</div>
                        <div class="col-12 property-land-size">Land Size: @Html.DisplayFor(model => model.PropertyLandSize) sq. ft.</div>
                        <div class="col-12 property-rooms"><i class="fas fa-bed"></i> @Html.DisplayFor(model => model.PropertyBedroom) &nbsp; <i class="fas fa-bath"></i> @Html.DisplayFor(model => model.PropertyBathroom) </div>
                    </div>
                    <div class="extra-details property-description row mb-4">
                        <div class="col-12 row-title"><b>Description</b></div>
                        <div class="col-12">@Html.DisplayFor(model => model.PropertyDescription)</div>
                    </div>
                    <div class="extra-details row mb-4">
                        <div class="col-12 row-title"><b>Property Details</b></div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="extra-details-title"><u>Property Type:</u></div>
                                    <div>@Html.DisplayFor(model => model.PropertyType)</div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="extra-details-title"><u>Land Size:</u></div>
                                    <div>@Html.DisplayFor(model => model.PropertyLandSize) sq. ft.</div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="extra-details-title"><u>Furnishing:</u></div>
                                    <div>@Html.DisplayFor(model => model.PropertyFurnishing)</div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="extra-details-title"><u>Posted Date:</u></div>
                                    <div>@Html.DisplayFor(model => model.PropertyPostedDate)</div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="extra-details-title"><u>Address:</u></div>
                                    <div>@Html.DisplayFor(model => model.PropertyAddress)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 order-1 order-md-2 mb-4 mb-md-0">
                    <div class="mx-md-2 row enquiry-card">
                        <div class="col-12">
                            <div class="seller-details">
                                <div class="seller-image">
                                    <img src="https://propertyninjablobstorage.blob.core.windows.net/profilepic/mMaqLkq.jpg" alt="Seller Image" />
                                </div>
                                <div class="seller-name"><a asp-action="ViewSeller" asp-controller="BuyerListing" asp-route-sellerName="@Model.PropertySeller" style="color: black;">@Html.DisplayFor(model => model.PropertySeller)</a></div>
                            </div>
                            <div class="enquiry-button">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal" data-target="#exampleModalCenter">
                                    Send Enquiry
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="addEntity" asp-controller="Enquiry" asp-route-sellerName="@Model.PropertySeller" asp-route-propertyName="@Model.PropertyName">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Send enquiry to <b>@Html.DisplayFor(model => model.PropertySeller)</b> for this property </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group-title mb-2"><b>Your Details</b></div>
                                        <input type="text" class="form-control mb-2" name="buyerName" placeholder="Name" value="@user.Name" required>
                                        <input type="tel" class="form-control mb-2" name="phoneNumber" placeholder="Phone Number, eg: 01XXXXXXXX" value="@user.PhoneNumber" required>
                                        <input type="email" class="form-control mb-2" name="email" placeholder="Email" value="@user.Email" required>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group-title mb-2"><b>Message</b></div>
                                        <textarea class="form-control message-textarea" name="message" placeholder="Hi, i am interested in your property..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/propertyDetails.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
}

@section Scripts {
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('.property-images').slick();
    });
    </script>

}
