﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IPagedList<PropertyNinja.Models.Property>

@{
    ViewData["Title"] = "ViewSeller";
}

<div class="container my-4">
    <p class="views-breadcrumb">Seller Information / @ViewBag.sellerName</p>
    <div class="seller-info-section row">
        <div class="col-2 seller-image">
            <img src="https://propertyninjablobstorage.blob.core.windows.net/profilepic/mMaqLkq.jpg" alt="Seller Image" />
        </div>
        <div class="col-10">
            <div class="seller-info">
                <h1><b>@ViewBag.sellerName</b></h1>
                <p><b>Email: @(ViewBag.sellerName + "@gmail.com")</b></p>
                <p><b>Phone Number: 012999111</b></p>
            </div>
        </div>
    </div>
    <h5><b>Properties Sold By @ViewBag.sellerName (@ViewBag.Count)</b></h5>
    <div class="seller-properties row mt-3">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-4 mb-3">
                <div class="featured-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand" style="background: url(@(String.Format("https://propertyninjablobstorage.blob.core.windows.net/" + "{0}/{1}", @item.PropertyName.ToLower().Replace(",", "").Replace(" ", "-"), @item.PropertyThumbnail))) no-repeat; background-size: cover;">
                        <h2 class="mdl-card__title-text">@Html.DisplayFor(modelItem => item.PropertyName)</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p class="propertyPrice"><b>RM @string.Format("{0:#,0}", item.PropertyPrice)</b></p>
                        @Html.DisplayFor(modelItem => item.PropertyType) | <i class="fas fa-bed"></i> @Html.DisplayFor(modelItem => item.PropertyBedroom) &nbsp; <i class="fas fa-bath"></i> @Html.DisplayFor(modelItem => item.PropertyBathroom)
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a asp-controller="BuyerListing" asp-action="PropertyDetails" asp-route-id="@item.ID" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            View
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                     {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
    })
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/viewSeller.css" />
}